In [19]:
import pandas as pd
import numpy as np

In [20]:
# Read the datasets
crv_path = "/Users/nguyetnguyen/Library/Messages/Attachments/ac/12/BBB050AF-5901-496C-9404-38547FD09C65/data/College Results View 2021 Data Dump for Export.xlsx - College Results View 2021 Data .csv"
aff_path = "/Users/nguyetnguyen/Library/Messages/Attachments/ac/12/BBB050AF-5901-496C-9404-38547FD09C65/data/Affordability Gap Data AY2022-23 2.17.25.xlsx - Affordability_latest_02-17-25 1.csv"

crv = pd.read_csv(crv_path, low_memory=False)
aff = pd.read_csv(aff_path, low_memory=False)

# See the shape of our data
print("CRV shape:", crv.shape)
print("Affordability shape:", aff.shape)

crv.head()

CRV shape: (6289, 192)
Affordability shape: (21299, 79)

,UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION,Number of Bachelor Degrees Grand Total,Number of Bachelor Degrees Total Men,Number of Bachelor Degrees Total Women,Number of Bachelor Degrees White Total,Number of Bachelor Degrees White Men,Number of Bachelor Degrees White Women,Number of Bachelor Degrees American Indian or Alaska Native Men,Number of Bachelor Degrees American Indian or Alaska Native Total,Number of Bachelor Degrees American Indian or Alaska Native Women,...,Median Earnings of Students Working and Not Enrolled 10 Years After Entry,Native American Non-Tribal Institution (NANTI),Predominantly Black Institution (PBI),Percent of Full-Time Faculty,Percent of Part-Time Undergraduates,Tribal College or University (TCU),Public Institution GASB Endowment Assets,Private not-for-profit or Public Institution FASB Endowment Assets,Number of Undergraduates Age 25 and Older,Percent of Undergraduates Age 25 and Older
0,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36041.0,0.0,1.0,0.5596,0.5087,0.0,NaN,NaN,344.0,0.070477
1,101435,244.0,103.0,141.0,176.0,70.0,106.0,0.0,2.0,2.0,...,47921.5,0.0,0.0,0.7595,0.1407,0.0,NaN,51910937.0,37.0,0.014700
2,101994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,0.5313,0.5377,0.0,NaN,NaN,139.0,0.123996
3,102553,1044.0,427.0,617.0,581.0,240.0,341.0,7.0,31.0,24.0,...,47921.5,0.0,0.0,0.5181,0.4772,0.0,60842848.0,NaN,4536.0,0.147388
4,102632,144.0,46.0,98.0,92.0,29.0,63.0,2.0,10.0,8.0,...,27937.0,1.0,0.0,0.5583,0.5447,0.0,6773153.0,NaN,911.0,0.172832

In [21]:
#basic eda for college results dataset
crv.describe()
crv.isna().mean().sort_values(ascending=False).head(20)

Hispanic-serving Institution (HSI)                                                               1.000000
Bachelor's Degree Graduation Rate Within 6 Years - Native Hawaiian or Other Pacific Islander     0.880267
ACT Math - 75th Percentile Score                                                                 0.851328
ACT English - 25th Percentile Score                                                              0.851328
ACT English - 75th Percentile Score                                                              0.851328
ACT Math - 25th Percentile Score                                                                 0.851328
SAT Evidence Based Reading and Writing - 25th Percentile Score                                   0.843854
SAT Math - 75th Percentile Score                                                                 0.843854
SAT Math - 25th Percentile Score                                                                 0.843854
SAT Evidence Based Reading and Writing - 75th Percentile Score                                   0.843854
Percent of First-Time Degree Certificate Seeking Students Submitting SAT Scores                  0.831611
Number of First-Time Degree Certificate Seeking Students Submitting SAT Scores                   0.831611
Percentage of First-Time, Full-Time Degree Certificate Seeking Students Submitting ACT Scores    0.829862
Number of First-Time, Full-Time Degree Certificate Seeking Students Submitting ACT Scores        0.829862
Bachelor's Degree Graduation Rate Within 6 Years - American Indian or Alaska Native              0.818572
Endowment Assets GASB per Student                                                                0.790428
Public Institution GASB Endowment Assets                                                         0.786453
Private not-for-profit or Public Institution FASB Endowment Assets                               0.785657
Endowment Assets FASB per Student                                                                0.780251
Bachelor's Degree Graduation Rate Within 6 Years - Asian                                         0.760693
dtype: float64

In [22]:
# Basic EDA for affordability dataset
aff.describe()

,Unit ID,Sector,MSI Status,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,...,Latitude,Longitude,Region #,Sub Region #,2000 Carnegie Classification,2015 Carnegie Classification,2018 Carnegie Classification,2021 Carnegie Classification,County Code,Control of Institution
count,21299.000000,21299.000000,21032.000000,21032.000000,21032.000000,21032.000000,21032.000000,21032.000000,21032.000000,21032.000000,...,21299.000000,21299.000000,20894.000000,20894.000000,21299.000000,21299.000000,21299.000000,21299.000000,21299.000000,21299.000000
mean,260100.949246,4.189070,0.816613,0.021491,0.013408,0.003661,0.005087,0.045835,0.119057,0.006942,...,37.553722,-90.518132,2.564181,5.000766,19.423306,9.932626,10.373398,10.411803,29350.301141,1.919010
std,130103.089623,4.557299,0.386993,0.145018,0.115017,0.060397,0.071147,0.209132,0.323863,0.083030,...,5.710354,17.912775,1.039392,2.514077,19.331320,10.332405,10.287636,10.097815,16615.076178,0.854943
min,100654.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-14.320000,-170.740000,1.000000,1.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-3.000000
25%,162584.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,34.060000,-97.540000,2.000000,3.000000,-2.000000,-2.000000,-2.000000,-2.000000,13245.000000,1.000000
50%,208479.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.850000,-86.300000,3.000000,5.000000,21.000000,9.000000,10.000000,10.000000,30021.000000,2.000000
75%,414939.000000,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,41.410000,-78.880000,3.000000,7.000000,40.000000,19.000000,19.000000,19.000000,42045.000000,3.000000
max,498571.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,71.320000,171.380000,4.000000,9.000000,60.000000,33.000000,33.000000,33.000000,78030.000000,3.000000

In [23]:
# Merge both datasetes on the unique identifier
df = crv.merge(
    aff,
    left_on='UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION',
    right_on='Unit ID',
    how='inner'
)
df.head()

,UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION,Number of Bachelor Degrees Grand Total,Number of Bachelor Degrees Total Men,Number of Bachelor Degrees Total Women,Number of Bachelor Degrees White Total,Number of Bachelor Degrees White Men,Number of Bachelor Degrees White Women,Number of Bachelor Degrees American Indian or Alaska Native Men,Number of Bachelor Degrees American Indian or Alaska Native Total,Number of Bachelor Degrees American Indian or Alaska Native Women,...,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
1,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
2,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
3,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
4,101435,244.0,103.0,141.0,176.0,70.0,106.0,0.0,2.0,2.0,...,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Diverse Fields,22,Baccalaureate Colleges: Diverse Fields,22,Baccalaureate Colleges: Diverse Fields,22,1101,2

In [24]:
# We defined categories based on the available columns to define what it means for 
# a college to be a "good match" for a student based on their background and needs.

# We take into account a holistic view of affordability metrics based on different student backgrounds.
AFFORDABILITY_COLS = [
    'Average Cost of Attendance Out-of-State',
    'Average Cost of Attendance In-District',
    'Average Cost of Attendance In-State',
    'Out-of-State Average Tuition for First-Time, Full-Time Undergraduates',
    'Average In-State Tuition for First-Time, Full-Time Undergraduates',
    'Average Net Price After Grants, 2018-19',
    'Average Net Price After Grants, 2019-20',
    'Average Net Price After Grants, 2020-21',
    'Average Net Price for Low-Income Students, 2018-19',
    'Average Net Price for Low-Income Students, 2019-20',
    'Average Net Price for Low-Income Students, 2020-21'
]

# We define success in a college based on the retention rate and earnings of students after graduation.
SUCCESS_COLS = [
    'First-Time, Full-Time Retention Rate',
    'Percent Full-time, First-time, Pell Grant Recipients Still Enrolled at Same Institution - 8 Years',
    'Median Earnings of Students Working and Not Enrolled 10 Years After Entry',
]

# Often times when students enter college, they lack the knowledge, resources, and confidence to be "successful".
# These are measures of various resources that colleges offer for student support and success.
RESOURCES_COLS = [
    'Student-to-Faculty Ratio',
    'Percent of Full-Time Faculty',
    'Instructional Expenditures Per Student',
    'Instructional Expenses Per FTE'
]

# Students in minority groups might prioritize attending a college where a large portion of the student body population are students
# that look like them, come from similar backgrounds, and share commonalities. Having others similar to you fosters a sense of belonging
# and community on campus, which is important for confidence and success.
DEMOGRAPHICS_COLS = [
    'Percent of Black or African American Undergraduates',
    'Percent of Latino Undergraduates',
    'Percent of Asian Undergraduates',
    'Percent of American Indian or Alaska Native Undergraduates',
    'Percent of Native Hawaiian or Other Pacific Islander Undergraduates',
    'Percent of White Undergraduates',
    'Percent of Women Undergraduates',
    'Percent of Men Undergraduates',
    'Percent of Undergraduates Age 25 to 64',
]

In [25]:
# Our dataset contains many columns that are missing over half the data. Here, we filter those columns out.

# Set a threshold for dropping columns with excessive missing values
threshold = 0.5  # 50% missing values

# Drop columns with more than 50% missing values
crv_cleaned = crv.dropna(thresh=int((1-threshold) * len(crv)), axis=1)

# Fill missing values for numerical columns with the median
numerical_cols = crv_cleaned.select_dtypes(include=['float64', 'int64']).columns
crv_cleaned[numerical_cols] = crv_cleaned[numerical_cols].fillna(crv_cleaned[numerical_cols].median())

# Fill missing values for categorical columns with the mode
categorical_cols = crv_cleaned.select_dtypes(include=['object']).columns
for col in categorical_cols:
    crv_cleaned[col].fillna(crv_cleaned[col].mode()[0], inplace=True)

# Display the cleaned DataFrame
crv_cleaned.head()

/var/folders/sn/9182cdw16d37ylx2bg9cnq6h0000gp/T/ipykernel_63736/1595153085.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crv_cleaned[numerical_cols] = crv_cleaned[numerical_cols].fillna(crv_cleaned[numerical_cols].median())
/var/folders/sn/9182cdw16d37ylx2bg9cnq6h0000gp/T/ipykernel_63736/1595153085.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crv_cleaned[col].fillna(crv_cleaned[col].mode()[0], inplace=True)
/var/folders/sn/9182cdw16d37ylx2bg9cnq6h0000gp/T/ipykernel_63736/1595153085.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crv_cleaned[col].fillna(crv_cleaned[col].mode()[0], inplace=True)

,UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION,Percent of American Indian or Alaska Native Undergraduates,Percent of Two or More Races Undergraduates,Percent of Asian Undergraduates,Percent of Black or African American Undergraduates,Percent of Latino Undergraduates,Percent of Native Hawaiian or Other Pacific Islander Undergraduates,Percent of White Undergraduates,Percent of Women Undergraduates,Percent of Men Undergraduates,...,Median Earnings of Dependent Students Working and Not Enrolled 10 Years After Entry,Median Earnings of Independent Students Working and Not Enrolled 10 Years After Entry,Median Earnings of Students Working and Not Enrolled 10 Years After Entry,Native American Non-Tribal Institution (NANTI),Predominantly Black Institution (PBI),Percent of Full-Time Faculty,Percent of Part-Time Undergraduates,Tribal College or University (TCU),Number of Undergraduates Age 25 and Older,Percent of Undergraduates Age 25 and Older
0,101301,0.0,2.0,1.0,74.0,1.0,0.0,21.0,59.0,41.0,...,29770.0,25099.0,36041.0,0.0,1.0,0.5596,0.5087,0.0,344.0,0.070477
1,101435,0.0,4.0,1.0,20.0,6.0,0.0,66.0,45.0,55.0,...,44281.0,48806.0,47921.5,0.0,0.0,0.7595,0.1407,0.0,37.0,0.014700
2,101994,0.0,2.0,1.0,61.0,1.0,0.0,34.0,61.0,39.0,...,22780.0,27625.0,27937.0,0.0,0.0,0.5313,0.5377,0.0,139.0,0.123996
3,102553,5.0,10.0,7.0,3.0,8.0,3.0,49.0,61.0,39.0,...,47371.0,48868.0,47921.5,0.0,0.0,0.5181,0.4772,0.0,4536.0,0.147388
4,102632,14.0,11.0,3.0,1.0,7.0,2.0,55.0,65.0,35.0,...,40460.0,41243.0,27937.0,1.0,0.0,0.5583,0.5447,0.0,911.0,0.172832

In [26]:
crv_cleaned.columns.tolist()

['UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION',
 'Percent of American Indian or Alaska Native Undergraduates',
 'Percent of Two or More Races Undergraduates',
 'Percent of Asian Undergraduates',
 'Percent of Black or African American Undergraduates',
 'Percent of Latino Undergraduates',
 'Percent of Native Hawaiian or Other Pacific Islander Undergraduates',
 'Percent of White Undergraduates',
 'Percent of Women Undergraduates',
 'Percent of Men Undergraduates',
 'Percent of Undergraduates Age 25 to 64',
 'Percent of Full-time, First-time Degree-Seeking Undergraduates',
 'Percent of Undergraduates Enrolled Exclusively in Distance Education Courses',
 'Total Enrollment',
 'Instructional Expenses Per FTE',
 'Average Cost of Attendance Out-of-State',
 'Average Cost of Attendance In-District',
 'Average Cost of Attendance In-State',
 'Percent Full-time, First-time, Pell Grant Recipients Still Enrolled at Same Institution - 8 Years',
 'Percent Full-time, First-time, Pell Grant Recipients Receiving an Award - 6 Years',
 'Number of American Indian or Alaska Native Men',
 'Number of American Indian or Alaska Native Total',
 'Number of American Indian or Alaska Native Women',
 'Number of Asian Men',
 'Number of Asian Total',
 'Number of Asian Women',
 'Number of Black or African American Men',
 'Number of Black or African American Total',
 'Number of Black or African American Women',
 'Number of Latino Men',
 'Number of Latino Total',
 'Number of Latina Women',
 'Number of Native Hawaiian or Other Pacific Islander Men',
 'Number of Native Hawaiian or Other Pacific Islander Total',
 'Number of Native Hawaiian or Other Pacific Islander Women',
 'Number of Men Enrolled',
 'Number of Undergraduates Enrolled',
 'Grand Total of Women Undergraduates Enrolled',
 'Number of White Men Undergraduates Enrolled',
 'Total Number of White Undergraduates Enrolled',
 'Number of White Women Undergraduates Enrolled',
 'Degree Level',
 'Student Status',
 'First-Time, Full-Time Retention Rate',
 'Student-to-Faculty Ratio',
 'Reported First-Time, Full-Time Undergraduate Enrollment',
 'Carnegie Classification',
 'City of Institution',
 'Institutional Category',
 'Institution Name',
 'Institution Size Category',
 'Degree of Urbanization',
 'Sector of Institution',
 'State of Institution',
 'LATITUDE',
 'LONGITUDE',
 'Institution Web Address',
 'Institution Type',
 'Open Admissions Policy',
 'Out-of-State Average Tuition for First-Time, Full-Time Undergraduates',
 'Average In-State Tuition for First-Time, Full-Time Undergraduates',
 'Average Amount of Loans Awarded to First-Time, Full-Time Undergraduates',
 'Average Amount of Federal Grant Aid Awarded to First-Time, Full-Time Undergraduates',
 'Average Amount of Institutional Grant Aid Awarded to First-Time, Full-Time Undergraduates',
 'Average Amount of Federal, State, Local, or Institutional Grant Aid Awarded',
 'Number of First-Time, Full-Time Undergraduates Awarded Federal, State, Local or Institutional Grant Aid',
 'Percent of First-Time, Full-Time Undergraduates Awarded Federal, State, Local or Institutional Grant Aid',
 'Total Amount of Federal, State, Local or Institutional Grant Aid Awarded to First-Time, Full-Time Undergraduates',
 'Number of First-Time, Full-Time Undergraduates Awarded Pell Grants',
 'Percent of First-Time, Full-Time Undergraduates Awarded Pell Grants',
 'Average Net Price After Grants, 2018-19',
 'Average Net Price After Grants, 2019-20',
 'Average Net Price After Grants, 2020-21',
 'Average Net Price for Low-Income Students, 2018-19',
 'Average Net Price for Low-Income Students, 2019-20',
 'Average Net Price for Low-Income Students, 2020-21',
 'Average Net Price After Grants- Students Awarded a Grant or Scholarship, 2020-21',
 'Number Awarded a Grant or Scholarship - Low-Income Students, 2020-21',
 'Average Net Price After Grants - Low-Income Students Awarded Financial Aid, 2020-21',
 'Asian American or Native American Pacific Islander-Serving Institution (AANAPISI)',
 'Alaska-Native, Native Hawaiian-Serving Institution (ANNHSI)',
 'Cohort Default Rate',
 'Median Debt for Dependent Students',
 'Median Debt of Completers',
 'Historically Black College or University (HBCU)',
 'Median Debt for Independent Students',
 'Instructional Expenditures Per Student',
 'Median Earnings of Dependent Students Working and Not Enrolled 10 Years After Entry',
 'Median Earnings of Independent Students Working and Not Enrolled 10 Years After Entry',
 'Median Earnings of Students Working and Not Enrolled 10 Years After Entry',
 'Native American Non-Tribal Institution (NANTI)',
 'Predominantly Black Institution (PBI)',
 'Percent of Full-Time Faculty',
 'Percent of Part-Time Undergraduates',
 'Tribal College or University (TCU)',
 'Number of Undergraduates Age 25 and Older',
 'Percent of Undergraduates Age 25 and Older']

In [27]:
# Our columns contain a wide variety of data that come in different units and scales. For some variables,
# a higher number indicates a better match, while for other columns, a lower number is better. Here, we
# standardize all column data on a 0 to 1 scale.
def normalize(df, col, invert=False):
    if df[col].isna().all():
        return pd.Series([np.nan] * len(df))
        
    series = df[col].fillna(df[col].median())
    norm = (series - series.min()) / (series.max() - series.min())
    return 1 - norm if invert else norm

# This function computes a score for each category we defined. It finds the average of each normalized data point in each column.
def build_category_score(df, columns, invert=False):
    scores = []
    for col in columns:
        if col in df.columns:
            scores.append(normalize(df, col, invert=invert))
    if len(scores) == 0:
        return None
    return sum(scores) / len(scores)

In [28]:
# We score demographics differently, since we take into account which identities a student aligns with. Students can select
# multiple categories from race, gender, and whether or not they are a re-entry student. 
def compute_demographic_score(df, user_identities, weights=None):
    # Map identities to column names
    identity_to_column = {
        "Black": "Percent of Black or African American Undergraduates",
        "African American": "Percent of Black or African American Undergraduates",
        "Latino": "Percent of Latino Undergraduates",
        "Hispanic": "Percent of Latino Undergraduates",
        "Asian": "Percent of Asian Undergraduates",
        "American Indian": "Percent of American Indian or Alaska Native Undergraduates",
        "Alaska Native": "Percent of American Indian or Alaska Native Undergraduates",
        "Pacific Islander": "Percent of Native Hawaiian or Other Pacific Islander Undergraduates",
        "White": "Percent of White Undergraduates",
        "Women": "Percent of Women Undergraduates",
        "Men": "Percent of Men Undergraduates",
        "Adult Learner": "Percent of Undergraduates Age 25 to 64",
    }

    # translate user identities to column names
    chosen_cols = [identity_to_column[i] for i in user_identities if i in identity_to_column]

    if len(chosen_cols) == 0:
        return pd.Series([0] * len(df))

    # default equal weights  
    if weights is None:
        weights = [1/len(chosen_cols)] * len(chosen_cols)

    # extract the demographic percentages
    demo_df = df[chosen_cols].copy()

    # fill missing with median values
    demo_df = demo_df.fillna(demo_df.median())

    # normalize each demographic percent to 0–1
    normalized = (demo_df - demo_df.min()) / (demo_df.max() - demo_df.min())

    # compute weighted score
    weighted_score = normalized.mul(weights).sum(axis=1)

    return weighted_score

In [29]:
# We compute scores for each category.
df['affordability_score'] = build_category_score(
    df, AFFORDABILITY_COLS, invert=True
)

df['success_score'] = build_category_score(
    df, SUCCESS_COLS, invert=False
)

df['resources_score'] = build_category_score(
    df, RESOURCES_COLS, invert=False
)

In [30]:
# Here, students input demographic information, as well as how much they prioritize certain categories (which must add up to 1), and filters for schools
# that align with their preferences.
user_profile = {
    "identities": ["Black", "Latino"],   # demographic identities
    
    "weights": {                         # match score weights
        "affordability": 0.4,
        "success": 0.3,
        "resources": 0.2,
        "demographics": 0.1
    },

    "filters": {                         # college filtering preferences
        "max_price": 15000,
        "state": "CA",
        "institution_type": "Public"
    }
}

In [31]:
# We compute affordability, success, resources
df['affordability_score'] = build_category_score(df, AFFORDABILITY_COLS, invert=True)
df['success_score'] = build_category_score(df, SUCCESS_COLS)
df['resources_score'] = build_category_score(df, RESOURCES_COLS)

# Compute demographic match
df['demographic_support_score'] = compute_demographic_score(
    df,
    user_identities=user_profile["identities"]
)

In [32]:
# Computing overall match score

w = user_profile["weights"]

df['match_score'] = (
    w["affordability"] * df['affordability_score'] +
    w["success"] * df['success_score'] +
    w["resources"] * df['resources_score'] +
    w["demographics"] * df['demographic_support_score']
)

In [33]:
def filter_colleges(df, max_price=None, state=None, institution_type=None):
    filtered = df.copy()
    
    # Filter by affordability
    if max_price is not None:
        if 'Average Net Price After Grants, 2020-21' in df.columns:
            filtered = filtered[
                filtered['Average Net Price After Grants, 2020-21'] <= max_price
            ]

    # Filter by state
    if state is not None and 'State of Institution' in df.columns:
        filtered = filtered[filtered['State of Institution'] == state]

    # Filter by public/private/etc.
    if institution_type is not None and 'Institution Type' in df.columns:
        filtered = filtered[
            filtered['Institution Type'].str.contains(
                institution_type, case=False, na=False
            )
        ]
    
    return filtered

In [34]:
def compute_match_scores(df, user_profile):
    """
    1. Applies college filters
    2. Computes affordability/success/resources scores
    3. Computes demographic support score
    4. Computes final match score
    5. Deduplicates colleges so each institution appears once
    """

    # Unpack user inputs
    identities = user_profile.get("identities", [])
    weights = user_profile.get("weights", {})
    filters = user_profile.get("filters", {})

    # ----------- 1. FILTERING -----------
    df_filtered = filter_colleges(
        df,
        max_price=filters.get("max_price"),
        state=filters.get("state"),
        institution_type=filters.get("institution_type")
    )

    # If filters removed all schools, return empty df early
    if df_filtered.empty:
        print("No colleges match the selected filters.")
        return df_filtered

    # ----------- 2. CATEGORY SCORES -----------

    df_filtered['affordability_score'] = build_category_score(
        df_filtered, AFFORDABILITY_COLS, invert=True
    )

    df_filtered['success_score'] = build_category_score(
        df_filtered, SUCCESS_COLS, invert=False
    )

    df_filtered['resources_score'] = build_category_score(
        df_filtered, RESOURCES_COLS, invert=False
    )

    # ----------- 3. DEMOGRAPHIC MATCH SCORE -----------

    df_filtered['demographic_support_score'] = compute_demographic_score(
        df_filtered,
        user_identities=identities
    )

    # ----------- 4. FINAL MATCH SCORE -----------

    w = weights  # shorter alias
    df_filtered['match_score'] = (
        w.get("affordability", 0) * df_filtered['affordability_score'] +
        w.get("success", 0)       * df_filtered['success_score'] +
        w.get("resources", 0)     * df_filtered['resources_score'] +
        w.get("demographics", 0)  * df_filtered['demographic_support_score']
    )

    # ----------- 5. MAKE COLLEGES UNIQUE -----------

    # Determine correct institution name column
    name_col = None
    for candidate in ["Institution Name", "Institution Name_x", "Institution Name_y", "INSTNM"]:
        if candidate in df_filtered.columns:
            name_col = candidate
            break

    if name_col is None:
        raise KeyError("Could not locate institution name column in dataframe.")

    # Sort by highest match score first
    df_filtered = df_filtered.sort_values("match_score", ascending=False)

    # Drop duplicate institutions but keep the best scoring row
    df_filtered = df_filtered.drop_duplicates(subset=name_col, keep="first")

    return df_filtered

In [35]:
# We output the top 10 best match colleges for the student
result = compute_match_scores(df, user_profile)

result[['Institution Name_x', 'match_score']].sort_values(by='match_score', ascending=False).head(10)

                                Institution Name_x  match_score
2747                       Imperial Valley College     0.649863
8068       California State University-Los Angeles     0.635858
15909  California State University-Dominguez Hills     0.621274
10923                               Oxnard College     0.612903
205                                Ventura College     0.601338
8202                       College of the Sequoias     0.594547
8156                              Moorpark College     0.587182
2699       California State University-Bakersfield     0.584148
10817   California State University-San Bernardino     0.583887
15973                       Mt San Antonio College     0.581673